<h2>View Boards:</h2>
#if (!($boards.isEmpty()))
<ul>
  #foreach ($board in $boards)
  <li><a href="#">$board.getName()</a></li>
  #end
</ul>
#else
  <p>Looks like there aren't any boards! <a href="#">Add one now</a></p>
#end
